<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ajax Example</title>
    <link rel="stylesheet" href='{% static "demo/main.css" %}'/>
    <script src='{% static "demo/jquery-3.3.1.js" %}'></script>
    <script>
        function searchEmployees(){
            if($("#name").val() == ""){
                $("#data").html("Field can't be empty!");
                return;
            }
            $.getJSON("/demo/get_employees/", {'name': $("#name").val()}, function(result){
              if(result.length == 0){
                $("#data").html("No employee found!");
                return;
              }
              $("#data").html("");
              output = "<ul>";
              $.each(result,
                  function(idx,emp) {
                       output += "<li>" + emp.id+" "+emp.name +" "+ emp.salary +" "+emp.deptid+ "</li>"
                  }
              );
              $("#data").html( output + "</ul>");
             }
            );
        }

         function getName() {
             $.get("/demo/get_emp_id/" + $("#empid").val(),{},
                       function(name) {
                           $("#empname").text(name);
                       }
             );
         }
    </script>
</head>
<body>
<h1>Ajax Search Employees</h1>
Name <input type="text" id="name" onkeyup="searchEmployees()" />
<div id="data"></div>
<hr/>
<h1>Employee Details By ID</h1>
Id <input type="number" id="empid" onkeyup="getName()"/>
<span id="empname"></span>
</body>
</html>