<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ajax Example</title>
    <link rel="stylesheet" href='{% static "demo/main.css" %}'/>
    <script src='{% static "demo/jquery-3.3.1.js" %}'></script>
    <script>
        function searchEmployees(){
            $.getJSON("/demo/get_employees/", {'name': $("#name").val()}, function(result){
              output = "<ul>";
              $.each(result,
                  function(idx,emp) {
                       output += "<li>" + emp.id+" "+emp.name +" "+ emp.salary +" "+emp.deptid+ "</li>"
                  }
              );
              $("#data").html( output + "</ul>");
            }
            );
        }
    </script>
</head>
<body>
<h1>Ajax Search Employees</h1>
Name <input type="text" id="name"/>
<button onclick="searchEmployees()">Search Employees</button>
<h2 id="now"></h2>
<div id="data"></div>
<hr/>
</body>
</html>