<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ajax Example</title>
    <link rel="stylesheet" href='{% static "demo/main.css" %}'/>
    <script src='{% static "demo/jquery-3.3.1.js" %}'></script>
    <script>

        function getTime(){
            $.get("/demo/today", {}, showResult);
        }

        function showResult(result){
            $("#now").text(result);
        }


    </script>
</head>
<body>
<h1>Ajax Demo</h1>
<button onclick="getTime()">What is Time Now?</button>
<h2 id="now"></h2>
<hr/>
</body>
</html>